// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');



body{
  margin: 0;
  overflow: hidden;
}

.wrapper{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


 & .title{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 100%;
    margin: 0;
    background: transparent;
    color: white;
   text-decoration:underline;
   font-size:  1.3em;
   font-family: 'Teko', sans-serif;
 }


}
